<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="bg-light">
<div th:replace="fragments :: navbar"></div>
<div class="alert alert-danger container" role="alert" th:if="${account != null && !account.emailVerified}">
    K-Fashion 가입을 완료하려면
    <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
    1개월내에 가입을 완료하지 않으면 강제탈퇴 됩니다.
</div>
<div class="container">
    <form class="needs-validation" method="post"
          th:action="@{/profile/change-password}" th:object="${passwordForm}" novalidate>
        <div class="row justify-content-center mt-5">
            <div class="col-sm-2 border border-white mx-4 px-0 py-0">
                <a class="btn btn-secondary btn-lg btn-block active"
                   role="button" aria-pressed="true"
                   href="#" th:href="@{/profile/account-info}">회원정보</a>
            </div>
            <div class="col-sm-6 mx-4 pl-0">
                <h3>비밀번호 변경</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-2 border border-white mx-4 px-0 py-0">
                <a class="btn btn-secondary btn-lg btn-block active"
                   role="button" aria-pressed="true"
                   href="#" th:href="@{/profile/change-info}">회원정보 변경</a>
            </div>
            <div class="col-sm-6 mx-4 pt-2">
                <h4>새로운 비밀번호</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-2 border border-white mx-4 px-0 py-0">
                <a class="btn btn-primary btn-lg btn-block active"
                   role="button" aria-pressed="true"
                   href="#" th:href="@{/profile/change-password}">비밀번호 변경</a>
            </div>
            <div class="col-sm-6 mx-4 pt-2 input-group">
                <input type="password" class="form-control" id="password"
                       minlength="8" maxlength="50" th:field="*{password}"
                       aria-describedby="inputGroup-sizing-default" required>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-2 border border-white mx-4 px-0 py-0">
                <a class="btn btn-danger btn-lg btn-block active"
                   role="button" aria-pressed="true"
                   href="#" th:href="@{/profile/delete-account}">회원 탈퇴</a>
            </div>
            <div class="col-sm-6 mx-4 pt-0">
                <small class="form-text text-muted">
                    새 비밀번호를 입력하세요.</small>
            </div>
        </div>
        <div class="row justify-content-center pt-1 pb-3 mb-0">
            <div class="col-sm-2 mx-4"></div>
            <div class="col-sm-6 mx-4 pt-1 input-group">
                <h4>새로운 비밀번호 확인</h4>
            </div>
        </div>
        <div class="row justify-content-center mt-0">
            <div class="col-sm-2 mx-4"></div>
            <div class="col-sm-6 mx-4">
                <input type="password" class="form-control" id="passwordConfirmed"
                       minlength="8" maxlength="50" th:field="*{passwordConfirmed}"
                       aria-describedby="inputGroup-sizing-default" required>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-2 mx-4"></div>
            <div class="col-sm-6 mx-4 pt-1">
                <small class="form-text text-muted">
                    새 비밀번호를 다시 한번 입력하세요.</small>
                <small class="invalid-feedback">패스워드를 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}"
                       th:errors="*{password}">Password Error</small>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-sm-2 mx-4"></div>
            <div class="col-sm-6 mx-4 pt-1">
                <button type="submit" class="btn btn-primary btn-block">수정하기</button>
            </div>
        </div>
    </form>
    <div th:replace="fragments :: footer"></div>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</div>
</body>
</html>