<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body class="bg-light">
    <div th:replace="fragments :: navbar"></div>
    <div class="container">
        <div class="py-5 text-center">
            <h2>게시글</h2>
        </div>
        <div class="row justify-content-center mb-4 ">
            <div class="col-lg-8 px-0 ">
                <h4 th:text="${board.getSubject()}">제목</h4>
            </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="col-lg-2"></div>
            <div class="col-auto mr-auto px-0">
                &#183; <span th:text="${board.getNickname()}">작성자</span>
            </div>
            <div class="col-auto px-0">
                &#183; <span th:text="${board.getStringHalfTimeFormat()}">작성시간</span>
                &#183; 조회수 <span th:text="${board.getView()}">조회</span>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row justify-content-center my-2" th:if="${!board.getImage().isEmpty()}">
            <div class="col-lg-8 pt-2">
                <img class="img-fluid mx-auto d-block" th:src="${board.getImage()}"/>
            </div>
        </div>
        <!-- contents -->
        <div class="row justify-content-center mt-2">
            <div class="col-lg-8 px-0 pt-2 border-top">
                <p th:utext="*{#strings.replace(board.getContents(),
                T(System).getProperty('line.separator'), '&lt;br /&gt;')}"></p>
            </div>
        </div>
        <!-- comment -->
        <div class="row justify-content-center mt-1 px-0">
            <div class="col-lg-8 px-0 py-0">
                <!-- comment main-->
                <div class="card border-light px-0 py-0 ">
                    <div class="card-footer">
                        <h6 class="card-title" id="card-title">댓글</h6>
                    </div>
                    <div class="card-body px-0 py-0">
                        <ul class="list-group" id="commentList">
                        </ul>
                    </div>
                    <div class="card-footer px-0 py-0">
                        <div class="input-group mx-0 my-0">
                            <input type="text" class="form-control" placeholder="댓글 내용을 입력하세요." id="comment" aria-describedby="button-addon2">
                            <input type="hidden" class="form-control" name="boardId" id="boardId" th:value="${board.getId()}">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="commentButton">등록</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-2"></div>
            <div class="col-auto mr-auto px-0">
                <a class="btn btn-primary active"
                   role="button" aria-pressed="true"
                   href="#" th:href="@{/board-write}">글쓰기</a>
                <a class="btn btn-primary active"
                   role="button" aria-pressed="true"
                   th:if="${board.getBoardName() != 'fashion' && board.getBoardName() != 'daily'}"
                   href="#" th:href="@{/board-rewrite(boardName=${board.getBoardName()},
                                                        boardGroupId=${board.getGroupId()},
                                                        boardGroupOrder=${board.getGroupOrder()},
                                                        boardIntent=${board.getIntent()})}">답글</a>
                <a class="btn btn-primary active"
                   role="button" aria-pressed="true"
                   href="#" th:href="@{'/board-' + ${board.getBoardName()}}">목록</a>
            </div>
            <div class="col-auto px-0">
                <a class="btn btn-primary active"
                   role="button" aria-pressed="true"
                   href="#" th:href="@{/board-update(boardId=${board.getId()})}"
                   th:if="${board.getOwner().getId().equals(account.getId())}? hidden">수정</a>
                <a class="btn btn-danger active"
                   role="button" aria-pressed="true" th:if="${board.getOwner().getId().equals(account.getId())}? hidden"
                   data-toggle="modal" data-target="#myModal">삭제</a>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">게시물 삭제</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    게시물을 정말 삭제하시겠습니까?
                    <form id="frm" method="post" action="#" th:action="@{/board-delete}">
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="boardId" th:value="${board.getId()}">
                            <input type="hidden" class="form-control" name="boardName" th:value="${board.getBoardName()}">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" onclick="submit()">확인</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: footer"></div>
    <script type="text/javascript">
        function submit(){
            document.getElementById("frm").submit();
        }
    </script>
    <script type="application/javascript" th:inline="javascript">
        $(document).ready(function () {
            showList();
        })

        function showList() {

            var boardId = /*[[${board.getId()}]]*/ null;

            $.ajax({
                type: 'GET',
                url: '/comment-list',
                data: {boardId : boardId},
                success: function(result) {

                    var list = '';
                    var data = result.commentFormList;

                    $.each(data, function (index){
                        list    += "<li class='list-group-item border-white' id='commentCard"+ index + "'>"
                            + "<div ";
                        if(data[index].intent > 0){
                            list += "style='padding-left:"+ data[index].intent * 25 +"px'";
                        }

                        list    += ">";

                        if(data[index].intent > 0){
                            list += "<svg width='1em' height='1em' viewBox=\"0 0 16 16\" class=\"bi bi-arrow-return-right\" fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n"
                                + "<path fill-rule=\"evenodd\" d=\"M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z\"/>"
                                + "</svg>";
                        }

                        list    += "<b>"+ data[index].nickName + "</b>";

                        if(data[index].parentNickName != null){
                            list += "</br>" + "<b class='text-muted'>"+ "@"+ data[index].parentNickName +"</b>";
                        }
                        list    += "<p>" + data[index].comment + "</p>"
                            + "<small>" +  data[index].commentTime + "</small>"
                            + "<a role='button' class='btn active px-0 ml-4' onclick='updateButton("+ index +")'";

                        if([[${account.getId()}]] !== data[index].accountId){
                            list += "hidden";
                        }

                        list    += ">수정</a>"
                            + "<a role='button' class='btn active px-0 ml-2' onclick='deleteButton("+ data[index].commentId +")'";

                        if([[${account.getId()}]] !== data[index].accountId){
                            list += "hidden";
                        }

                        list    += ">삭제</a>"
                            + "<a role='button' class='btn active px-0 ml-2' onclick='replyButton("+ index +")'>답글쓰기</a>"
                            + "<input type='hidden' className='form-control' name='commentId' id='commentId' value='" + data[index].commentId + "'>"
                            + "<input type='hidden' className='form-control' name='groupId' id='groupId' value='" + data[index].groupId + "'>"
                            + "<input type='hidden' className='form-control' name='groupOrder' id='groupOrder' value='" + data[index].groupOrder + "'>"
                            + "<input type='hidden' className='form-control' name='intent' id='intent' value='" + data[index].intent + "'>"
                            + "</div>"

                            + "</li>";

                    });

                    $('#commentList').html(list);


                },
                error: function (xhr, status, error) {
                    console.log('error:' + error);
                }
            });
        }

        $('#commentButton').click(function(){

            if($('#comment').val() === ''){
                alert("내용을 입력하세요");
                return;
            }

            var comment = $('#comment').val();
            var boardId = /*[[${board.getId()}]]*/ null;

            var params = {
                comment : comment,
                boardId : boardId
            };

            $.ajax({
                type: 'POST',
                url: '/comment-write',
                data: params,
                success: function() {
                    console.log('Write Comment Complete')
                    showList();
                    $('#comment').val('');
                },
                error: function (xhr, status, error) {
                    console.log('error:' + error);
                }
            });
        });

        function updateButton(index){

            var id = "commentCard" + index;
            var commentOld =  $('#' + id).find('p').text();
            var commentId = $('#' + id).find('input').val();

            var input = '';

            input   += "<div class='input-group mx-0 my-0' style='padding-left: 25px'>"
                    + "<input type='text' class='form-control' placeholder='댓글 내용을 입력하세요.'"
                    + "id='commentUpdate' aria-describedby='button-addon4'>"
                    + "<div class='input-group-append'>"
                    + "<button class='btn btn-outline-secondary' type='button' onclick='showList()'>취소</button>"
                    + "<button class='btn btn-outline-secondary' type='button' id='commentUpdateButton'>등록</button>"
                    + "</div>"
                    + "</div>";

            $('#'+ id).replaceWith(input);

            $('#commentUpdate').val(commentOld);

            $('#commentUpdateButton').click(function(){

                if( $('#commentUpdate').val() == ''){
                    alert("내용을 입력하세요");
                    return;
                }
                if( $('#commentUpdate').val() == commentOld){
                    showList();
                    return;
                }

                var comment = $('#commentUpdate').val();

                var params = {
                    comment : comment,
                    commentId : commentId
                };

                console.log(params);

                $.ajax({
                    type: 'POST',
                    url: '/comment-update',
                    data: params,
                    success: function() {
                        console.log('Update Comment Complete')
                        showList();
                    },
                    error: function (xhr, status, error) {
                        console.log('error:' + error);
                    }
                });
            });
        }

        function deleteButton(commentId){
            var commentId = commentId;
            var boardId = /*[[${board.getId()}]]*/ null;

            var params = {
                commentId : commentId,
                boardId : boardId
            };

            $.ajax({
                type: 'POST',
                url: '/comment-delete',
                data: params,
                success: function() {
                    console.log('Delete Comment Complete')
                    showList();
                },
                error: function (xhr, status, error) {
                    console.log('error:' + error);
                }
            });
        }

        var click = true;
        function commentReplyCancelButton() {
            showList();
            click = true;
        }

        function replyButton(index) {
            var id = "commentCard" + index;

            var commentId = '';
            var groupId = '';
            var groupOrder = '';
            var intent ='';

            $('#' + id).find('input').each(function (index){
                switch (index) {
                    case 0 : commentId =  $( this ).val(); break;
                    case 1 : groupId =  $( this ).val(); break;
                    case 2 : groupOrder = $( this ).val(); break;
                    case 3 : intent = $( this ).val(); break;
                }
            })

            if(click) {
                var input = '';

                input += "<div class='input-group mx-0 my-0'>"
                    + "<input type='text' class='form-control' placeholder='댓글 내용을 입력하세요.'"
                    + "id='commentReply' aria-describedby='button-addon4'>"
                    + "<div class='input-group-append'>"
                    + "<button class='btn btn-outline-secondary' type='button' onclick='commentReplyCancelButton()'>취소</button>"
                    + "<button class='btn btn-outline-secondary' type='button' id='commentReplyButton'>등록</button>"
                    + "</div>"
                    + "</div>";

                $('#' + id).append(input);

                click = !click;
            }


            $('#commentReplyButton').click(function () {

                if( $('#commentReply').val() == ''){
                    alert("내용을 입력하세요");
                    return;
                }

                var comment = $('#commentReply').val();
                var boardId = /*[[${board.getId()}]]*/ null;

                $('#comment').val('');

                var params = {
                    comment : comment,
                    boardId : boardId,
                    commentId : commentId,
                    groupId : groupId,
                    groupOrder : groupOrder,
                    intent : intent
                };

                $.ajax({
                    type: 'POST',
                    url: '/comment-write',
                    data: params,
                    success: function() {
                        console.log('replyButton success');
                        showList();
                        click = true;
                    },
                    error: function (xhr, status, error) {
                        console.log('error:' + error);
                    }
                });
            })
        }

    </script>
    <script type="application/javascript" th:inline="javascript">
        $(function() {
            var csrfToken = /*[[${_csrf.token}]]*/ null;
            var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            });
        });
    </script>
</body>
</html>
