<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="bg-light">
    <div th:replace="fragments :: navbar"></div>
    <div class="container">
        <div class="py-5 text-center">
            <h2>자유게시판</h2>
        </div>
        <div class="row justify-content-center mx-1">
            <div class="col-lg px-0">
                <table class="table table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">제목</th>
                        <th scope="col" class="text-center">작성자</th>
                        <th scope="col" class="text-center">작성일</th>
                        <th scope="col" class="text-center">조회</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="board : ${boardList}">
                        <th th:text="${board.getId()}" style="width: 5%" class="text-center" scope="row">0</th>
                        <td style="width: 55%" class="text-center">
                            <a href="#" th:text="${board.getSubject()}">Hi</a>
                        </td>
                        <td th:text="${board.getNickname()}" style="width: 15%" class="text-center">KyungJae</td>
                        <td th:text="${board.getStringPostingTime()}" style="width: 15%" class="text-center">2020-11-11</td>
                        <td th:text="${board.getView()}" style="width: 10%" class="text-center">100</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-4 mx-1">
            <div class="col-lg-4 px-0">
                <a class="btn btn-primary active"
                   role="button" aria-pressed="true"
                   href="#" th:href="@{/free-boardWriter}">글쓰기</a>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: footer"></div>
</body>
</html>