<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<body class="bg-light">
    <div th:replace="fragments :: navbar"></div>
    <div class="container">
        <div class="py-5 text-center">
            <h2>회원 가입</h2>
        </div>
        <div class="row justify-content-center py-2">
            <form class="col-sm-6 needs-validation" method="post"
                  th:action="@{/sign-up}" th:object="${signUpForm}" novalidate>
                <div class="form-group">
                    <label for="nickname">닉네임</label>
                    <input type="text" class="form-control" id="nickname"
                           aria-describedby="emailHelp" th:field="*{nickname}" minlength="3" maxlength="20" required>
                    <small id="nicknameHelp" class="form-text text-muted">
                        공백없이 문자와 숫자로만 3자 이상 20자 이내로 입력하세요.</small>
                    <small class="invalid-feedback">닉네임 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">NickName Error</small>
                </div>
                <div class="form-group">
                    <label for="email">이메일</label>
                    <input type="email" class="form-control" id="email"
                           aria-describedby="emailHelp" th:field="*{email}" required>
                    <small id="emailHelp" class="form-text text-muted">
                        K-Fashion 은 사용자의 이메일을 공개하지 않습니다.</small>
                    <small class="invalid-feedback">이메일을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>
                </div>
                <div class="form-group">
                    <label for="password">패스워드</label>
                    <input type="password" class="form-control" id="password"
                           th:field="*{password}" minlength="8" maxlength="50" required>
                    <small id="passwordHelp" class="form-text text-muted">
                        8자 이상 50자 이내로 입력하세요.</small>
                    <small class="invalid-feedback">패스워드를 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="checkbox">
                    <label class="form-check-label" for="checkbox">Remember me</label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">가입하기</button>
                </div>
            </form>
        </div>

        <div th:replace="fragments :: footer"></div>
    </div>
</body>
</html>