<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="bg-light">
    <div th:replace="fragments :: navbar"></div>

    <div class="container">
        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${account != null && !account.emailVerified}">
            K-Fashion 가입을 완료하려면
            <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
           2주 내에 가입을 완료하지 않으면 강제탈퇴 됩니다.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="mt-4">
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header">
                            자유게시판
                        </div>
                        <ul class="list-group list-group-flush" th:each="board : ${freeBoardList}">
                            <li class="list-group-item"><a href="#" th:href="@{/board-view(boardId=${board.getId()})}"
                                                           th:text="${board.getSubject()}"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header">
                            세일정보
                        </div>
                        <ul class="list-group list-group-flush" th:each="board : ${saleBoardList}">
                            <li class="list-group-item"><a href="#" th:href="@{/board-view(boardId=${board.getId()})}" th:text="${board.getSubject()}"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header">
                            데일리룩
                        </div>
                        <div class="row row-cols-1 row-cols-md-2">
                            <div class="col mb-4" th:each="board : ${dailyBoardList}">
                                <div class="card">
                                    <a href="#" th:href="@{/board-view(boardId=${board.getId()})}">
                                        <img class="img-thumbnail" style="width: 250px; height: 250px;" th:src="${board.getImage()}" th:if="${!board.getImage().isEmpty()}"></a>
                                    <div class="card-footer">
                                        <a href="#" th:href="@{/board-view(boardId=${board.getId()})}" th:text="${board.getSubject()}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header">
                            연예인 패션
                        </div>
                        <div class="row row-cols-1 row-cols-md-2">
                            <div class="col mb-4" th:each="board : ${fashionBoardList}">
                                <div class="card">
                                    <a href="#" th:href="@{/board-view(boardId=${board.getId()})}">
                                        <img class="img-thumbnail" style="width: 250px; height: 250px;" th:src="${board.getImage()}" th:if="${!board.getImage().isEmpty()}"></a>
                                    <div class="card-footer">
                                        <a href="#" th:href="@{/board-view(boardId=${board.getId()})}" th:text="${board.getSubject()}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: footer"></div>
</body>
</html>